# --------------------------------
# Dipendenze
# --------------------------------
/vendor/
/node_modules/

# --------------------------------
# Ambiente
# --------------------------------
.env
.env.local
.env.*.local

# --------------------------------
# Cache e file generati
# --------------------------------
/bootstrap/cache/*.php
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# --------------------------------
# Upload pubblici
# --------------------------------
/public/storage
/public/uploads

# --------------------------------
# Seeder (ignora solo quelli sensibili)
# --------------------------------

# Ignora cartella con dati reali
/database/seeders/private/

# Tieni i seeder pubblici e DatabaseSeeder.php
!/database/seeders/public/*
!/database/seeders/DatabaseSeeder.php


# --------------------------------
# PHPUnit / Debug
# --------------------------------
.phpunit.result.cache
npm-debug.log
yarn-error.log

# --------------------------------
# IDE / OS
# --------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
